.aboutContainer{
    /* background: transparent; */
    background-color: #333030;
    height: auto;
    width: auto;
    padding: 20px;
    color: white;
}

.about-header{
  text-align: center;
  padding: 5%;
}

.about-content{
  display: flex;
  justify-content: center;
}

.about-image img{
  width: 95%;

}
.about-text{
  width: 90%;
  text-align: justify;
}
