.contact-section{
    margin-top: 5%;
    background-image: url('https://img.freepik.com/free-photo/mumbai-skyline-skyscrapers-construction_469504-21.jpg?t=st=1723053305~exp=1723056905~hmac=49fda6a3e7798262fb6abc0e6b4f75ca223397a94b24ba4dc0f444efa84e5d10&w=996');
}
.contact-section-wrapper{
    backdrop-filter: blur(0) saturate(15%);
    -webkit-backdrop-filter: blur(0) saturate(15%);
    background-color: #070505aa;
}
.contact-header {
    text-align: center;
    padding: 5%;
}
.contact-form-container{
    width:auto;
    height: auto;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    color: white;
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, .288);
    border-left: 1px solid rgba(255, 255, 255, .288);
    border-right: 1px solid rgba(255, 255, 255, .288); 
    border-bottom: 1px solid rgba(255, 255, 255, .288); 
}
.contact-form{
    width:40%;
    height: auto;
}
.form-components{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 30px;
}

.section-headers{
    display: flex;
    flex-direction: row;
}
.contact-details{
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    gap: 10%;
}
.contact-details p{
    padding-left: 50px;
}

.contact-icons{
    margin: 0 10px;
    color: white;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, .288);
    transition: transform 0.3s ease;
}
.contact-icons-group{
    padding-left: 40px;
    display: flex;
    gap:10px;
    transition: transform 0.3s ease;
}
.contact-icons:hover {
    border-color: white;
}

